<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Fitness 4 Life</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/fitness/member/{{model.userId}}/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#/fitness/member/{{model.userId}}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h3>Calorie Tracker</h3>
        <h5>
            <span class="glyphicon glyphicon-chevron-left"
                  aria-hidden="true"
                  ng-click="model.decrementDate()"></span>
            Your calories for {{model.representDate()}}: {{model.totalCalories}}
            <span class="glyphicon glyphicon-chevron-right pull-right"
                  aria-hidden="true"
                  ng-click="model.incrementDate()"></span>
        </h5>
        <div class="progress">
            <div class="progress-bar progress-bar-success"
                 role="progressbar"
                 style="width: {{model.caloriePercentage}}%"/>
        </div>
        <a class="btn btn-primary btn-block"
           ng-click="model.manageFood()">
            Manage your food
        </a>
    </div>
    <div class="jumbotron">
        <h3>My Appointments</h3>
        <span ng-if="model.acceptedAppointments.length == 0">No Accepted Appointments</span>
        <table class="table">
            <tr ng-repeat="appointment in model.acceptedAppointments">
                <td>{{appointment._trainer.firstName}} {{appointment._trainer.lastName}}</td>
                <td>{{appointment.day}} - {{model.showTime(appointment.start)}} to {{model.showTime(appointment.end)}}
                </td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="model.deleteAppointment(appointment)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary btn-block"
           href="#/fitness/member/{{model.userId}}/appointment_schedule">
            Schedule Personal Training
        </a>
    </div>
    <div class="jumbotron">
        <h3>Pending Appointments</h3>
        <span ng-if="model.pendingAppointments.length == 0">No Pending Appointments</span>
        <table class="table">
            <tr ng-repeat="appointment in model.pendingAppointments">
                <td>{{appointment._trainer.firstName}} {{appointment._trainer.lastName}}</td>
                <td>{{appointment.day}} - {{model.showTime(appointment.start)}} to {{model.showTime(appointment.end)}}
                </td>
            </tr>
        </table>
    </div>
    <div class="jumbotron">
        <h3>Rejected Appointments</h3>
        <span ng-if="model.rejectedAppointments.length == 0">No Rejected Appointments</span>
        <table class="table">
            <tr ng-repeat="appointment in model.rejectedAppointments">
                <td>{{appointment._trainer.firstName}} {{appointment._trainer.lastName}}</td>
                <td>{{appointment.day}} - {{model.showTime(appointment.start)}} to {{model.showTime(appointment.end)}}
                </td>
            </tr>
        </table>
    </div>
</div>
</div>