<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Fitness 4 Life</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/fitness/trainer/{{model.trainerId}}/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#/fitness/trainer/{{model.trainerId}}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h3>Pending Appointments</h3>
        <table class="table">
            <tr ng-repeat="appointment in model.pendingAppointments">
                <td>{{appointment._member.firstName}} {{appointment._member.lastName}}</td>
                <td>{{appointment.day}} - {{model.showTime(appointment.start)}} to {{model.showTime(appointment.end)}}
                </td>
                <td>
                    <button class="btn btn-success"
                            ng-click="model.confirmAppointment(appointment)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-danger"
                            ng-click="model.rejectAppointment(appointment)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
        <span ng-if="model.pendingAppointments.length == 0">No Pending Appointments</span>
    </div>
    <br/>

    <div class="jumbotron">
        <h3>Accepted Appointments</h3>
        <span ng-if="model.acceptedAppointments.length == 0">No Accepted Appointments</span>
        <table class="table">
            <tr ng-repeat="appointment in model.acceptedAppointments">
                <td>{{appointment._member.firstName}} {{appointment._member.lastName}}</td>
                <td>{{appointment.day}} - {{model.showTime(appointment.start)}} to {{model.showTime(appointment.end)}}
                </td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="model.deleteAppointment(appointment)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <a class="btn btn-primary btn-block"
       href="#/fitness/trainer/{{model.trainerId}}/availability">
        Availabilities
    </a>
    <br/><br/>
</div>