<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Websites
            </a>
        </div>
    </div>
</nav>

<ul class="list-group">
    <div ng-repeat="website in model.websites">
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page"> {{website.name}} </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                <span class="pull-right glyphicon glyphicon-cog"/>
            </a>
        </li>
    </div>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}" class="pull-right navbar-icon-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>