<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Fitness 4 Life</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/fitness/trainer/{{model.trainerId}}/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#/fitness/trainer/{{model.trainerId}}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2 class="white"> Edit an availability </h2>
    <form>
        <div class="form-group">
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
            <label for="availability_day" class="white"> Day </label>
            <select class="form-control"
                    id="availability_day"
                    ng-model="model.availability.day">
                <option ng-repeat="d in model.days"
                        value="{{d}}">
                    {{d}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="start" class="white"> Start Time </label>
            <select class="form-control"
                    id="start"
                    ng-model="model.availability.start">
                <option ng-repeat="time in model.hours"
                        value="{{time}}">
                    {{model.showTime(time)}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="end" class="white"> End Time </label>
            <select class="form-control"
                    id="end"
                    ng-model="model.availability.end">
                <option ng-repeat="time in model.hours"
                        value="{{time}}">
                    {{model.showTime(time)}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button ng-click="model.updateAvailability()" class="btn btn-warning btn-block">Update</button>
            <button ng-click="model.deleteAvailability()" class="btn btn-danger btn-block">Delete</button>
        </div>
    </form>
</div>