<div class="container">
    <h2>List of availability given:</h2>
    <table ng-if="model.availability_list" class="table">
        <thead>
        <td>Day</td>
        <td>Start</td>
        <td>End</td>
        </thead>
        <tr ng-repeat="row in model.availability_list">
            <td>{{row.day}}</td>
            <td>{{row.start}}</td>
            <td>{{row.end}}</td>
            <td>
                <a href="#/fitness/trainer/{{model.trainerId}}/availability/{{row._id}}">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </table>
</div>